/* Import the fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100;200&family=Patrick+Hand&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@700&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  transition: all .2s ease-out;
  text-decoration: none;
}

.body {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.desktop {
  background-color: var(--base-color);
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100%;
}

.desktop .div {
  background-color: var(--base-color);
  overflow: hidden;
  width: 1440px;
  height: 4527px;
  position: relative;
}


html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 7rem;
  scroll-behavior: smooth;
  --first-color: #4D7298;
  --second-color: #D0EFB1;
  --third-color: #3063C2;
  --fourth-color: #204EA5;
  --base-color: #fff;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 9%;
  background: var(--first-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: auto;
}

.logo-container {
  flex-grow: 1;
  height: auto;
}

.logo-container {
  flex-grow: 1;
}

.logo-web {
  font-size: 2.5rem;
  display: block;
}

.navbar {
  display: flex;
  align-items: center;
}

.navbar-links {
  margin-right: auto;
  display: block;
}

.navbar {
  display: flex;
  align-items: center;
}

.navbar-links {
  margin-right: auto;
}

.navbar a {
  margin-right: 20px;

  text-decoration: none;
  color: white;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  transition: color 0.2s ease-out;
}

.navbar a:nth-child(1) {
  color: var(--second-color);
}

.navbar a:hover {
  color: var(--second-color)
}


.book-button a {
  text-decoration: none;
  background-color: transparent;
  color: #D0EFB1;
  padding: 10px 20px;
  border: 1px solid #D0EFB1;
  border-radius: 5px;
  transition: background-color 0.2s ease-out;
}

.book-button a:hover {
  border-color: var(--base-color);
  color: var(--base-color);
}

.wellcome-text {
  display: flex;
  margin-top: 0;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-image: url(/image/Background-image.jpg);
  height: 100vh;
  background-position: center;
  background-size: cover;
}

.wellcome-text-box {
  position: relative;
  color: #f5f5f5;
  padding: 30px 40px;
  justify-content: center;
  align-items: center;
  margin: 0px 0px 0% 0%;

}

.wellcome-text h2 {
  font-weight: 400;
  font-size: 50px;
}

.wellcome-text h1 {
  font-size: 25px;
  margin-top: 20px;
}

.wellcome-text h3 {
  font-weight: 400;
}

.appointment-button {
  display: inline-block;
  background-color: #007BFF;
  color: #ffffff;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-out;
  font-size: 1.4rem;
  max-width: 200px;
  margin-top: 20px;
  text-decoration: none;
}

.appointment-button a {
  color: white;
}

.appointment-button:hover {
  background-color: #0050a5;
}

.about-us {
  background-color: #fff;
  padding: 2rem;
  background-image: url(/image/background-image-2.jpg);
  height: 100vh;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.about-us-container {
  margin-top: 0;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-us h1 {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 50px;
  color: #000000ce;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: var(--second-color);
}

.about-us h2 {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 40px;
  color: white;
  padding: 20px;
}

.about-us p {
  font-family: 'Martian Mono', monospace;
  font-size: 20;
  color: white;
  max-width: 650px;
  font-weight: 700;
  margin: 10px 0px 40px 0px;
  padding: 20px;
  outline: double 10px #ffffff;
}

.welcome-to-talkspace {
  font-size: 1.6rem;
  color: #333;
  line-height: 1.5;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.sosmed-main a {
  font-size: 3rem;
  color: #fff;
  padding: 3rem;
}

.sosmed-main a:hover {
  color: var(--second-color);
}

section.testimoni {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.testimoni-page {
  background-image: url(/image/background-image-3.jpg);
  height: 100vh;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.testimoni-page h1 {
  font-size: 5em;
  text-align: center;
}

.testimoni-page h3 {
  font-size: 2.2em;
  text-align: center;
}

.card-content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 63px;
  overflow: hidden;
}

.card-article {
  width: 300px;
  border-radius: 1.25rem;
  background: linear-gradient(145deg, #93ddff, #7bbad8);
  box-shadow: 8px 8px 21px #6091a8, -8px -8px 21px #b2ffff;
  flex-direction: column;
  overflow: hidden;
  padding: 2rem;
  margin: 2rem;
  display: block;
}

.card-data {
  background-color: var(--card-container);
  padding: 1.5rem 2rem;
  border-radius: 1rem;
  text-align: center;
  position: relative;
  z-index: 10;
}

.card-name {
  font-family: 'Patrick Hand', cursive;
  font-weight: 1000;
  font-size: 3em;
  text-align: left;
}

.card-data p {
  font-family: 'Patrick Hand', cursive;
  font-size: 1.5em;
  text-align: justify;
  font-weight: 400;
}

/* .card-image {
  position: relative;
  padding-top: 1.5rem;
  margin-top: -.75rem;
} */

.Produk {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

.Produkbox {
  width: 30rem;
  height: 50rem;
  top: 2211px;
  left: -12px;
  border-radius: 30px;
  background-color: #3063C2;
  filter: drop-shadow(10px 4px 30px rgba(0, 0, 0, 0.35));
  padding: 5rem;
}

.footer {
  position: relative;
  display: flex;
  background-color: var(--first-color);
  padding: 2rem;
  width: 100vw;
  height: 20rem;
  z-index: 1000;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logo-container-footer {
  margin-left: 7rem;
  ;
}

.logo-container-footer h1 {
  font-family: Inter;
  width: 20rem;
  margin: 0;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  padding-top: 1rem;
  padding-bottom: 1rem;
}


.logo-web {
  font-size: 2.5rem;
}



.footer-menu {
  font-family: Inter;
  margin: 1rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 3rem;
  letter-spacing: 0em;
  text-align: left;
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;

}

.footer-menu-container {
  display: flex;
  margin:auto ;
  gap: 2rem;
}

.footer-menu li:first-child {
  font-weight: bold;
}

.sosmed-footer{
margin-right: 7rem;
}

.sosmed-footer a {
  font-size: 2rem;
  color: #fff;
  padding: 1rem;
  animation: fadeInLeft 1s ease-in-out;
}

.sosmed-footer a:hover {
  color: var(--second-color);
}

.footer-menu-container a {
  text-decoration: none;
  color: var(--base-color);
  transition: color 0.2s ease-out;
}

.footer-menu-container a:hover {
  color: var(--second-color);
}

.footer-description {
  margin-left: 3rem;
  color: var(--base-color);
  width: 25rem;
  font-size: 1.3rem;
}