@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@700&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all .2s ease-out;
  text-decoration: none;
}

body {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 7rem;
  scroll-behavior: smooth;
  --first-color: #4D7298;
  --second-color: #D0EFB1;
  --third-color: #3063C2;
  --fourth-color: #204EA5;
  --base-color: #fff;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 9%;
  background: var(--first-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: auto;
}

@media screen and (max-width: 984px) {
  .header {
    padding: 2rem 5%;
  }
}

@media screen and (min-width: 985px) {
  .navbar-links {
    display: block;
  }

  .menu-toggle {
    display: none;
  }

  .mobile-menu {
    display: none;
  }
}

@media screen and (max-width: 984px) {
  .navbar-links {
    display: none;
  }

  .menu-toggle {
    display: flex;
  }

  .mobile-menu {
    display: none;
  }

  .mobile-menu.active {
    display: flex;
  }
}

.mobile-menu {
  display: none;
  flex-direction: column;
  background-color: var(--first-color);
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 1001;
}

.menu-toggle {
  flex-direction: column;
  cursor: pointer;
  padding: 10px;
  margin-right: 20px;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 3px 0;
  transition: transform 0.2s ease-out;
}

.mobile-menu.active {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--first-color);
  width: 100%;
  text-align: center;
  z-index: 1001;
  padding: 20px 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.mobile-menu li {
  margin: 10px 0;
}

.mobile-menu a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.logo-container {
  flex-grow: 1;
}

.logo-web {
  font-size: 2.5rem;
  display: block;
}

.navbar {
  display: flex;
  align-items: center;
}

.navbar-links {
  margin-right: auto;
}

.navbar a {
  margin-right: 20px;

  text-decoration: none;
  color: white;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  transition: color 0.2s ease-out;
}

.navbar a:nth-child(5) {
  color: var(--second-color);
}

.navbar a:hover {
  color: var(--second-color)
}


.book-button a {
  text-decoration: none;
  background-color: transparent;
  color: #D0EFB1;
  padding: 10px 20px;
  border: 1px solid #D0EFB1;
  border-radius: 5px;
  transition: background-color 0.2s ease-out;
}

.book-button a:hover {
  border-color: var(--base-color);
  color: var(--base-color);
}

.sosmed-main a {
  font-size: 1.2rem;
  color: #fff;
  padding: 1rem;
  animation: fadeInLeft 1s ease-in-out;
}

.sosmed-main a:hover {
  color: var(--second-color);
}


.faq-container {
  width: 100%;
  min-height: 100vh;
  margin: 5rem 0;
  padding-top: 80px;
  display: flex;
  flex-direction: column;
}

.faq-container h1 {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 40px;
  color: black;
  padding: 1rem;
  text-align: center;
  margin-bottom: 20px;
}

.faq {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10px;
  border-radius: 5px;
}

.faq-question {
  background-color: #4D7298;
  padding: 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  ;
}

.faq-question h2 {
  margin: 0;
  color: white;
}

.toggle-icon {
  font-weight: bold;
}

.faq-answer {
  display: none;
  padding: 10px;
  font-size: 15px;

}

.faq.active .faq-answer {
  display: inline-block;
  max-height: 200px;
}

.footer {
  position: relative;
  display: flex;
  background-color: var(--first-color);
  padding: 2rem;
  width: 100vw;
  z-index: 1000;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: auto;
}

.logo-container-footer {
  margin-left: 7rem;
}

.logo-container-footer h1 {
  font-family: Inter;
  width: 20rem;
  margin: 0;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  padding-top: 1rem;
  padding-bottom: 1rem;
}


.logo-web {
  font-size: 2.5rem;
}



.footer-menu {
  font-family: Inter;
  margin: 1rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 3rem;
  letter-spacing: 0em;
  text-align: left;
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;

}

.footer-menu-container {
  display: flex;
  margin: auto;
  gap: 2rem;
}

.footer-menu li:first-child {
  font-weight: bold;
}

.sosmed-footer a {
  font-size: 2rem;
  color: #fff;
  padding: 1rem;
  animation: fadeInLeft 1s ease-in-out;
  display: inline-block;
}

.sosmed-footer a:hover {
  color: var(--second-color);
}

.footer-menu-container a {
  text-decoration: none;
  color: var(--base-color);
  transition: color 0.2s ease-out;
}

.footer-menu-container a:hover {
  color: var(--second-color);
}

.footer-description {
  margin-left: 3rem;
  color: var(--base-color);
  width: 25rem;
  font-size: 1.3rem;
}

@media screen and (max-width: 984px) {
  .faq-container {
    padding-bottom: 10rem;
  }
  .faq {
    margin-left: 5%;
    margin-right: 5%;
  }

  .footer {
      padding: 2rem 0;
      flex-direction: column;
      align-items: center;
      text-align: center;
  }
  .footer-menu-container {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      margin: 1rem 0;
  }
  .footer-menu {
      margin: 1rem 0;
      text-align: center;
  }
  .logo-container-footer {
      margin: 1rem 0;
      text-align: center;
  }
  .sosmed-footer {
      margin: 1rem 0;
      text-align: center;
  }
}

@media screen and (max-width: 437px) {
  .book-button {
    display: none;
  }
}