/* Import the fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
  transition: all .2s ease-out;
  text-decoration: none;
}

.body {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.desktop {
  background-color: #f9fdff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100%;
}

.desktop .div {
  background-color: #f9fdff;
  overflow: hidden;
  width: 1440px;
  height: 4527px;
  position: relative;
}


html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 7rem;
  scroll-behavior: smooth;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 9%;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logo-web {
  font-size: 2.5rem;
}

.navbar a {
  margin-right: 20px;
  text-transform: capitalize;
  text-decoration: none;
  color: #333;
  transition: color 0.2s ease-out;
}

.navbar a:hover {
  color: #007BFF;
}


.book-button a {
  text-decoration: none;
  background-color: #007BFF;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.2s ease-out;
}

.book-button a:hover {
  background-color: #0056b3;
}

.wellcome-text {
  display: flex;
  margin-top: 0;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-image: url(/image/Background-image.jpg);
  height: 100vh;
  background-position: center;
  background-size: cover;
}

.wellcome-text-box {
  position: relative;
  color: #f5f5f5;
  padding: 30px 40px;
  justify-content: center;
  align-items: center;
  margin: 0px 0px 0% 0%;

}

.wellcome-text h2 {
  font-weight: 400;
}

.wellcome-text h1 {
  padding-left: 15%;
  padding-right: 15%;
  margin-top: 20px;
}

.appointment-button {
  display: inline-block;
  background-color: #007BFF;
  color: #ffffff;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-out;
  font-size: 1.4rem;
  max-width: 200px;
  margin-top: 20px;
  text-decoration: none;
}

.appointment-button a {
  color: white;
}

.appointment-button:hover {
  background-color: #0050a5;
}

.about-us {
  display: flex;
  margin-top: 0;
  text-align: center;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  padding: 2rem;
  background-image: url(/image/background-image-2.jpg);
  height: 100vh;
  background-position: center;
  background-size: cover;
}

.about-us h3 {
  color: #007BFF;
}

.about-us h2 {
  font-size: x-large;
  color: white;
}

.about-us p {
  color: white;
}

.welcome-to-talkspace {
  font-size: 1.6rem;
  color: #333;
  line-height: 1.5;
  margin-top: 1rem;
}

.sosmed-main {
  margin-top: 2rem;
}

.sosmed-main img {
  width: 100px;
  /* Adjust the size as needed */
  margin-right: 20px;
}

section.booking-menu {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-image: url(/image/background-image-3.jpg);
  height: 100vh;
  background-position: center;
  background-size: cover;
}

.booking-menu-box {

  position: relative;
  width: 420px;
  height: 450px;
  background: transparent;
  /* backdrop-filter: blur(15px); */
  border: 2px solid #1d2b3a;
  color: #00dfc4;
  padding: 30px 40px;
  justify-content: center;
  align-items: center;
  margin: 0px 0px 0% 0%;
}

.booking-menu-box h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: #1d2b3a;
  text-align: center;
}

.booking-menu-box .input-box {
  width: 100%;
  position: relative;
  height: 50px;
  margin: 30px 0;

}

.input-box input {
  width: 100%;
  height: 100%;
  padding: 10px;
  border: none;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.25);
  background: #1d2b3a;
  border-radius: 20px;
  font-size: 1em;
  transition: 0.5s;
}

.input-box label {
  color: #1d2b3a;
}

input,
select,
textarea {
  color: white;
}

textarea:focus,
input:focus {
  color: white;
}

.input-box input:valid,
.input-box input:focus {
  border: 3px solid white;
}

.booking-menu-box .submit-btn {
  width: 100%;
  height: 45px;
  background: #007BFF;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer;
  font-size: 16px;
  color: white;
  font-weight: 600;

}

.submit-btn:hover {
  background-color: #0056b3;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #eee;
  padding: 2rem;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.logo-web {
  font-size: 2.5rem;
  margin-right: 20px;
}

.footer-menu {
  list-style-type: none;
  padding: 0;
  display: flex;
}

.footer-menu li {
  margin-right: 20px;
}

.footer-menu a {
  text-decoration: none;
  color: #333;
  transition: color 0.2s ease-out;
}

.footer-menu a:hover {
  color: #007BFF;
}

.footer-description {
  flex: 1;
  margin: 1rem;
}